<!--____________________________________________________________________-->
<!--                                                                    -->
<!--       CISP 74 CRUD Web App Using Flask and Python Group Project    -->
<!--               by Julian Arteaga and Yvette Vargas                  -->
<!--                    Professor Sohair Zaki                           -->
<!--                      November 27, 2022                             -->
<!--                        user_reg.html                               -->
<!--____________________________________________________________________-->

<!--____________________________________________________________________-->
<!--                                                                    -->
<!--                         Description:                               -->
<!--  The user registration page for users to sign up for an account.   -->
<!--  Includes a form for the user to fill out, must have a unique      -->
<!--  username and email to sign up, otherwise sent to wrong.html to    -->
<!--  start over again.                                                 -->
<!--____________________________________________________________________-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Registration</title>
        <!-- links to bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>

<!-- adds padding to the bottom of the body of content -->
<body style="padding-bottom: 1rem;">
    <!-- container for User Registration intro, centers text -->
    <div class="container text-center">
        <h1>User Registration</h1>
        <p> Hello New User!</p>
        <p> Thank you so much for your interest in Diegetic! We're excited to have you!</p>
        <p> Please register. Once completed, you will be directed to enter your login info!</p>
    </div>
    <br>
    <!-- Container for page's main content, centers text  -->
    <div class="container text-center justify-content-center">
        <h2> Personal information</h2>
        <!-- column for registration form that centers it -->
        <div class="col d-flex justify-content-center">
            <!-- User registration form for user to sign up for account, sends info to /user_sub in application.py -->
            <form action="/user_sub" method="POST" autocomplete="off">
    
                <!-- container within form for user personal info  -->
                <div class="container">
                    <!-- row for personal info registration form that displays first name, middle name, last name, DOB, and email on one side and gender identity on the other -->
                    <div class="row">
                        <!-- Column for first name, middle name, last name, DOB, and email inputs -->
                        <div class="col">
                            <!-- Row which makes each input group as rows for this column -->
                            <div class="row" style="padding-top: 10px;">
                                <!-- input group for the first name label and input -->
                                <div class="input-group mb-3">
                                    <label for="first" class="col-sm-2 col-form-label">First Name </label>
                                    <input type="text" class="form-control" id="first" name="first" placeholder="First Name" required>
                                </div>
                                <!-- input group for the middle name label and input -->
                                <div class="input-group mb-3">
                                    <label for="middle" class="col-sm-2 col-form-label">Middle Name </label>
                                    <input type="text" class="form-control" id="middle" name="middle" placeholder="Middle Name (Optional)">
                                </div>
                                <!-- input group for the last name label and input -->
                                <div class="input-group mb-3">
                                    <label for="last" class="col-sm-2 col-form-label">Last Name </label>
                                    <input type="text" class="form-control" name="last" id="last" placeholder="Last Name" required>
                                </div>
                                <!-- input group for the date of birth label and input -->
                                <div class="input-group mb-3">
                                    <label for="DOB" class="col-sm-2 col-form-label">Date of Birth </label>
                                    <input type="date" class="form-control" name="DOB" id="DOB" required>
                                </div>
                                <!-- input group for the email label and input -->
                                <div class="input-group mb-3">
                                    <label for="email" class="col-sm-2 col-form-label">Email </label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                </div>
                            </div>
                        </div>

                        <!-- Column just for Gender Identity -->
                        <div class="col">
                            <!-- Row for gender identity which makes each gender option as rows for this column  -->
                            <div class="row">
                                <label for="gender">Gender Identity</label>
                                <!-- form-control where the text is align-left -->
                                <div class="mb-3 text-start">
                                    <!-- input group for the radio button and Male gender option -->
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input type="radio" class="form-check-input mt-0" name="gender" id="genderM" value="Male" required>
                                        </div>
                                        <!-- Value for Male and is read only, acts as a label -->
                                        <input type="text" class="form-control" value="Male" readonly>
                                    </div>
                                    <!-- input group for the radio button and Female gender option -->
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input type="radio" class="form-check-input mt-0" name="gender" id="genderF" value="Female" required>
                                        </div>
                                        <!-- Value for Female and is read only, acts as a label -->
                                        <input type="text" class="form-control" value="Female" readonly>
                                    </div>
                                    <!-- input group for the radio button and Nonbinary gender option -->
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input type="radio" class="form-check-input mt-0" name="gender" id="genderNB" value="Nonbinary" required>
                                        </div>
                                        <!-- Value for Nonbinary and is read only, acts as a label -->
                                        <input type="text" class="form-control" value="Nonbinary" readonly>
                                    </div>
                                    <!-- input group for the radio button and Transgender option -->
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input type="radio" class="form-check-input mt-0" name="gender" id="genderT" value="Transgender" required>
                                        </div>
                                        <!-- Value for Transgender and is read only, acts as a label -->
                                        <input type="text" class="form-control" value="Transgender" readonly>
                                    </div>
                                    <!-- input group for the radio button and Prefer not to say option -->
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input type="radio" class="form-check-input mt-0" name="gender" id="genderU" value="Not to say" required>
                                        </div>
                                        <!-- Value for Prefer not to say and is read only, acts as a label -->
                                        <input type="text" class="form-control" value="Prefer not to say" readonly>
                                    </div>
                                    <!-- input group for the radio button and Other gender option -->
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input type="radio" class="form-check-input mt-0" name="gender" value="Other" id ="genderO" checked>
                                        </div>
                                        <!-- Value for Other and is read only, acts as a label -->
                                        <input type="text" class="form-control" value="Other" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <!-- column for username and password section, centers it -->
                <div class="col d-flex justify-content-center">
                    <!-- Limits size of column -->
                    <div class="col-5">
                        <h2> Username and Password</h2>
                        <!-- row and form-control for username and input field -->
                        <div class="row mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="username" class="form-control" id="username" name="username" required minlength="6" maxlength="30">
                        </div>
                        <!-- row and form-control for password and input field -->
                        <div class="row mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}"
                                title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                        </div>
                    </div>
                </div>

                <br>
                <!-- Column for Disability section, centers it -->
                <div class="col d-flex justify-content-center">
                    <!-- Limits size of column -->
                    <div class="col-6">
                        <h2> Disability Identification</h2>
                        <!-- Privacy Info about giving us info about disabilities -->
                        <p> This information is under the Privacy Act of 1974 and the American Disabilities Act.
                            The Privacy of 1974 entails protection of governing all collections and uses of records in a system.
                            Given our platform is aimed to all disabled Americans, we wish to provide you with quality services.
                            This section is for users to identify their disailbities and any other further accommodations needed.
                            This section is optional and is at the discretion of the user.
                        </p>
                        <label for="disability" class="form-label">Disability</label>
                        <div>
                            <!-- Text area for user to input what their disability is -->
                            <textarea class="form-control" id="disability" name="disability" rows="4" cols="50" minlength="10"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- Submit button, with primary color -->
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    
    </div>
</body>
</html>